<div class="mt-4 lg:p-12 p-4 grid grid-cols-1  gap-x-12 gap-y-4 relative z-20">
    <div class="text-2xl font-extrabold ...">
    <a href="<%= new_quiz_path%>" class="font-medium px-2 py-2 font-semibold text-sm bg-sky-500 text-white rounded-none shadow-sm">+ New Quiz</a>
</div>

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-6 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Questions
                </th>                
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
                <th scope="col" class="px-6 py-3">                    
                </th>
            </tr>
        </thead>
        <tbody>
            <%@quizzes.each do |quiz|%>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100">
                    <th scope="row" class="px-6 py-4 font-medium text-blue-400 dark:text-white whitespace-nowrap">
                        <%=link_to quiz.name.capitalize, edit_quiz_path(quiz), class: "underline"%> 
                    </th>
                    <td class="px-6 py-4">
                        <%= quiz.description%> 
                    </td>
                    <td class="px-6 py-4">
                        <%= quiz.questions.count%> 
                    </td>
                
                    <td class="px-6 py-4">
                        <a href="<%= edit_quiz_path(quiz)%>" class="font-medium px-6  font-semibold text-sm bg-sky-500 text-white rounded-none shadow-sm">Edit</a>
                    </td>
                    <td class="px-6 py-3">
                        
                            <%= button_to "Delete", quiz, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete,class:"font-medium px-6 font-semibold text-sm", style: "background-color: #08a6e8 ; color: white " %>
                        
                    </td>
                    
                </tr>
            <%end%>
        </tbody>
    </table>
</div>