<%= turbo_stream_from "quizzes" %>

<div class="mt-1 lg:p-4 grid-cols-1    relative ">

  <%= link_to "New quiz",
    new_quiz_path,
    data: { turbo_frame: dom_id(Quiz.new) },
    class:"mt-4 relative font-medium px-2 py-2 font-semibold text-sm bg-sky-500 text-white rounded-none shadow-sm" 
  %>

</div>


<div class="lg:p-8  grid grid-cols-1  gap-x-12 gap-y-4 relative z-20">
                 
  <%= turbo_frame_tag Quiz.new %>
  
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-6 text-center" style="table-layout: fixed;">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
          <th scope="col" class="px-6 py-3">Name</th>                                
          <th scope="col" class="px-6 py-3">Description</th>                                
          <th scope="col" class="px-6 py-3">Questions</th>                                  
          <th scope="col" class="px-6 py-3">Actions</th>                                    
          <th scope="col" class="px-6 py-3"></th>                  
          
      </tr>
    </thead>
  </table>
  
  
  <%= turbo_frame_tag "quizzes" do %>   
    <%= render @quizzes %>
  <%end%>
  
</div>