


<div class="mt-1 lg:p-12 grid-cols-4 relative ">

  <h1><%= @quiz.name %></h1>    

  <br/>
  <a href="<%= quizzes_path%>" class="font-medium px-10 py-2 font-semibold text-sm bg-sky-500 text-white rounded-none shadow-sm">Back to quizzes</a>    
  

  <%= link_to "New Question",
      new_quiz_question_path(@quiz),
                  data: { turbo_frame: 'new_question' },
                  class: "font-medium px-2 py-2 font-semibold text-sm bg-sky-500 text-white rounded-none shadow-sm" %>

</div>


<div class="lg:p-12 grid grid-cols-1  gap-x-12 gap-y-4 relative z-20 ">

  <%= turbo_frame_tag Question.new %>
  
  <%= turbo_frame_tag "questions" do %>
    <%= render @questions, quiz: @quiz %>
  <% end %>

    
    
</div>