

<div class="w-full">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <%= form_for(@user, html: {'data-turbo' => "false"}, class: "form") do |f| %>    
      <div class="mb-4">  
        <button type="submit" class="font-medium px-10 py-2 font-semibold text-sm bg-red-500 rounded-none shadow-sm" style= "background-color: #08a6e8 ; color: white " >Save</button>
        

        <a href="<%= users_path%>" class="font-medium px-10 py-2 font-semibold text-sm bg-sky-500 text-white rounded-none shadow-sm">Back</a>
      </div>
      <div class="mb-4">  
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
        </label>        
        <%= f.text_field :name, class:"fshadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: "required", placeholder:"Name" %> 
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
        </label>        
        <%= f.text_field :email, class:"fshadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: "required", placeholder:"Email" %> 
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Password
        </label>        
        <%= f.password_field :password, class:"fshadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: "required", placeholder:"Password" %> 
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password_confirmation">
            Password Confirmation
        </label>        
        <%= f.password_field :password_confirmation, class:"fshadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: "required", placeholder:"Password Confirmation" %> 
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="role_id">
            Role
        </label>       
        <div class="relative">            
            <%= f.select :role_id, Role.all.collect { |p| [ p.name, p.id ] }, {include_blank: true }, html_options = {class:"block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px- pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: "required"}%>            
        </div> 
      </div>

      
      
      <%end%>
    </div>
    